--
-- PostgreSQL database dump
--

\restrict zPgg4VrKmqUtt0NSdVm44aP7Awn2lGHnMCc1AFNvut6aMhgzGAEW7GJJMM96OKS

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allocation_allocationresult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.allocation_allocationresult (
    id bigint NOT NULL,
    priority_rank integer NOT NULL,
    priority_score double precision NOT NULL,
    allocated_amount numeric(12,2) NOT NULL,
    requested_amount numeric(12,2) NOT NULL,
    allocation_pct double precision NOT NULL,
    allocation_strategy character varying(20) NOT NULL,
    fairness_score double precision NOT NULL,
    allocation_tier character varying(20) NOT NULL,
    budget_cycle_id bigint NOT NULL,
    school_id bigint NOT NULL,
    disbursed_at timestamp with time zone,
    disbursement_status character varying(20) NOT NULL,
    CONSTRAINT allocation_allocationresult_priority_rank_check CHECK ((priority_rank >= 0))
);


ALTER TABLE public.allocation_allocationresult OWNER TO postgres;

--
-- Name: allocation_allocationresult_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.allocation_allocationresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.allocation_allocationresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: allocation_budgetcycle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.allocation_budgetcycle (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    fiscal_year character varying(10) NOT NULL,
    status character varying(20) NOT NULL,
    total_budget numeric(15,2) NOT NULL,
    min_allocation numeric(12,2) NOT NULL,
    max_per_school numeric(12,2) NOT NULL,
    weight_student_teacher double precision NOT NULL,
    weight_infrastructure double precision NOT NULL,
    weight_materials double precision NOT NULL,
    weight_geographic double precision NOT NULL,
    weight_socioeconomic double precision NOT NULL,
    allocation_strategy character varying(20) NOT NULL,
    target_provinces jsonb NOT NULL,
    total_allocated numeric(15,2) NOT NULL,
    schools_covered integer NOT NULL,
    utilization_rate double precision NOT NULL,
    gini_coefficient double precision NOT NULL,
    computed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id integer,
    fiscal_budget_id bigint,
    CONSTRAINT allocation_budgetcycle_schools_covered_check CHECK ((schools_covered >= 0))
);


ALTER TABLE public.allocation_budgetcycle OWNER TO postgres;

--
-- Name: allocation_budgetcycle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.allocation_budgetcycle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.allocation_budgetcycle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: allocation_discretionarygrant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.allocation_discretionarygrant (
    id bigint NOT NULL,
    amount numeric(12,2) NOT NULL,
    granted_at timestamp with time zone NOT NULL,
    disbursement_status character varying(20) NOT NULL,
    disbursed_at timestamp with time zone,
    fiscal_budget_id bigint NOT NULL,
    school_id bigint NOT NULL,
    resource_request_id bigint NOT NULL,
    granted_by_id integer
);


ALTER TABLE public.allocation_discretionarygrant OWNER TO postgres;

--
-- Name: allocation_discretionarygrant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.allocation_discretionarygrant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.allocation_discretionarygrant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: allocation_fiscalyearbudget; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.allocation_fiscalyearbudget (
    id bigint NOT NULL,
    fiscal_year character varying(10) NOT NULL,
    name character varying(200) NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.allocation_fiscalyearbudget OWNER TO postgres;

--
-- Name: allocation_fiscalyearbudget_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.allocation_fiscalyearbudget ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.allocation_fiscalyearbudget_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: audit_auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_auditlog (
    id bigint NOT NULL,
    action character varying(100) NOT NULL,
    model_name character varying(100) NOT NULL,
    object_id character varying(50) NOT NULL,
    details_json jsonb NOT NULL,
    ip_address inet,
    "timestamp" timestamp with time zone NOT NULL,
    user_id integer
);


ALTER TABLE public.audit_auditlog OWNER TO postgres;

--
-- Name: audit_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.audit_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.audit_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_apscheduler_djangojob; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_apscheduler_djangojob (
    id character varying(255) NOT NULL,
    next_run_time timestamp with time zone,
    job_state bytea NOT NULL
);


ALTER TABLE public.django_apscheduler_djangojob OWNER TO postgres;

--
-- Name: django_apscheduler_djangojobexecution; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_apscheduler_djangojobexecution (
    id bigint NOT NULL,
    status character varying(50) NOT NULL,
    run_time timestamp with time zone NOT NULL,
    duration numeric(15,2),
    finished numeric(15,2),
    exception character varying(1000),
    traceback text,
    job_id character varying(255) NOT NULL
);


ALTER TABLE public.django_apscheduler_djangojobexecution OWNER TO postgres;

--
-- Name: django_apscheduler_djangojobexecution_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_apscheduler_djangojobexecution ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_apscheduler_djangojobexecution_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    type character varying(30) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    recipient_id integer NOT NULL
);


ALTER TABLE public.notifications_notification OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_dataverificationrequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_dataverificationrequest (
    id bigint NOT NULL,
    student_teacher_ratio double precision NOT NULL,
    infrastructure_deficit double precision NOT NULL,
    material_shortage double precision NOT NULL,
    geographic_difficulty double precision NOT NULL,
    socioeconomic_index double precision NOT NULL,
    reason text NOT NULL,
    status character varying(20) NOT NULL,
    admin_note text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    reviewed_at timestamp with time zone,
    reviewed_by_id integer,
    school_id bigint NOT NULL,
    submitted_by_id integer NOT NULL,
    prev_student_teacher_ratio double precision,
    prev_infrastructure_deficit double precision,
    prev_material_shortage double precision,
    prev_geographic_difficulty double precision,
    prev_socioeconomic_index double precision
);


ALTER TABLE public.schools_dataverificationrequest OWNER TO postgres;

--
-- Name: schools_dataverificationrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_dataverificationrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_dataverificationrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_districtadmin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_districtadmin (
    id bigint NOT NULL,
    provinces jsonb NOT NULL,
    districts jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.schools_districtadmin OWNER TO postgres;

--
-- Name: schools_districtadmin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_districtadmin ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_districtadmin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_rankingappeal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_rankingappeal (
    id bigint NOT NULL,
    current_rank integer NOT NULL,
    current_score double precision NOT NULL,
    reason text NOT NULL,
    supporting_notes text NOT NULL,
    status character varying(20) NOT NULL,
    admin_response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    reviewed_at timestamp with time zone,
    reviewed_by_id integer,
    school_id bigint NOT NULL,
    submitted_by_id integer NOT NULL
);


ALTER TABLE public.schools_rankingappeal OWNER TO postgres;

--
-- Name: schools_rankingappeal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_rankingappeal ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_rankingappeal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_resourcerequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_resourcerequest (
    id bigint NOT NULL,
    subject character varying(200) NOT NULL,
    letter character varying(100) NOT NULL,
    amount_granted numeric(12,2),
    status character varying(20) NOT NULL,
    admin_response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    reviewed_at timestamp with time zone,
    school_id bigint NOT NULL,
    submitted_by_id integer NOT NULL,
    reviewed_by_id integer
);


ALTER TABLE public.schools_resourcerequest OWNER TO postgres;

--
-- Name: schools_resourcerequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_resourcerequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_resourcerequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_reviewrequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_reviewrequest (
    id bigint NOT NULL,
    note text NOT NULL,
    status character varying(20) NOT NULL,
    admin_response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    school_id bigint NOT NULL
);


ALTER TABLE public.schools_reviewrequest OWNER TO postgres;

--
-- Name: schools_reviewrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_reviewrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_reviewrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_school; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_school (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    emis character varying(20) NOT NULL,
    province character varying(30) NOT NULL,
    district character varying(100) NOT NULL,
    municipality character varying(100) NOT NULL,
    ward_number integer,
    school_type character varying(20) NOT NULL,
    is_rural boolean NOT NULL,
    latitude numeric(9,6),
    longitude numeric(9,6),
    students integer NOT NULL,
    teachers integer NOT NULL,
    classrooms integer NOT NULL,
    female_students integer NOT NULL,
    female_teachers integer NOT NULL,
    student_teacher_ratio double precision NOT NULL,
    infrastructure_deficit double precision NOT NULL,
    material_shortage double precision NOT NULL,
    geographic_difficulty double precision NOT NULL,
    socioeconomic_index double precision NOT NULL,
    priority_score double precision NOT NULL,
    priority_rank integer,
    teacher_demand integer NOT NULL,
    ranking_history jsonb NOT NULL,
    improvement_score double precision NOT NULL,
    last_ranking_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    male_students integer NOT NULL,
    male_teachers integer NOT NULL,
    CONSTRAINT school_geo_range CHECK (((geographic_difficulty >= (0.0)::double precision) AND (geographic_difficulty <= (100.0)::double precision))),
    CONSTRAINT school_infra_range CHECK (((infrastructure_deficit >= (0.0)::double precision) AND (infrastructure_deficit <= (100.0)::double precision))),
    CONSTRAINT school_materials_range CHECK (((material_shortage >= (0.0)::double precision) AND (material_shortage <= (100.0)::double precision))),
    CONSTRAINT school_priority_score_range CHECK (((priority_score >= (0.0)::double precision) AND (priority_score <= (1.0)::double precision))),
    CONSTRAINT school_ses_range CHECK (((socioeconomic_index >= (0.0)::double precision) AND (socioeconomic_index <= (100.0)::double precision))),
    CONSTRAINT school_str_range CHECK (((student_teacher_ratio >= (0.0)::double precision) AND (student_teacher_ratio <= (100.0)::double precision))),
    CONSTRAINT schools_school_classrooms_check CHECK ((classrooms >= 0)),
    CONSTRAINT schools_school_female_students_check CHECK ((female_students >= 0)),
    CONSTRAINT schools_school_female_teachers_check CHECK ((female_teachers >= 0)),
    CONSTRAINT schools_school_male_students_check CHECK ((male_students >= 0)),
    CONSTRAINT schools_school_male_teachers_check CHECK ((male_teachers >= 0)),
    CONSTRAINT schools_school_priority_rank_check CHECK ((priority_rank >= 0)),
    CONSTRAINT schools_school_students_check CHECK ((students >= 0)),
    CONSTRAINT schools_school_teachers_check CHECK ((teachers >= 0)),
    CONSTRAINT schools_school_ward_number_check CHECK ((ward_number >= 0))
);


ALTER TABLE public.schools_school OWNER TO postgres;

--
-- Name: schools_school_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_school ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_school_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schools_schooluser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schools_schooluser (
    id bigint NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    school_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.schools_schooluser OWNER TO postgres;

--
-- Name: schools_schooluser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.schools_schooluser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schools_schooluser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: allocation_allocationresult; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: allocation_budgetcycle; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: allocation_discretionarygrant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.allocation_discretionarygrant (id, amount, granted_at, disbursement_status, disbursed_at, fiscal_budget_id, school_id, resource_request_id, granted_by_id) FROM stdin;
2	3000000.00	2026-07-14 17:46:30.067625+05:45	disbursed	2026-07-14 22:35:00.747901+05:45	2	178	2	1
3	200000.00	2026-07-16 17:21:47.23402+05:45	disbursed	2026-07-16 17:21:58.350729+05:45	2	178	3	1
4	1000000.00	2026-07-20 22:07:16.768745+05:45	pending	\N	2	180	5	1
5	450000.00	2026-07-20 22:07:27.159786+05:45	pending	\N	2	178	4	1
\.


--
-- Data for Name: allocation_fiscalyearbudget; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.allocation_fiscalyearbudget (id, fiscal_year, name, total_amount, is_active, created_at) FROM stdin;
2	2082/83	Annual Education Budget	100000000.00	t	2026-07-14 17:40:24.577361+05:45
\.


--
-- Data for Name: audit_auditlog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_apscheduler_djangojob; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_apscheduler_djangojobexecution; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_apscheduler_djangojobexecution (id, status, run_time, duration, finished, exception, traceback, job_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: notifications_notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schools_dataverificationrequest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schools_districtadmin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schools_districtadmin (id, provinces, districts, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: schools_rankingappeal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schools_rankingappeal (id, current_rank, current_score, reason, supporting_notes, status, admin_response, created_at, reviewed_at, reviewed_by_id, school_id, submitted_by_id) FROM stdin;
1	3	0.895204	review properly	no good data	accepted	done	2026-07-14 17:43:43.011008+05:45	2026-07-14 17:46:07.571973+05:45	1	178	7
2	3	0.892704	review	need more	rejected	this is ggod	2026-07-16 17:20:41.184568+05:45	2026-07-16 17:22:44.702087+05:45	1	178	7
\.


--
-- Data for Name: schools_resourcerequest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schools_reviewrequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schools_reviewrequest (id, note, status, admin_response, created_at, updated_at, school_id) FROM stdin;
\.


--
-- Data for Name: schools_school; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schools_schooluser; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schools_schooluser (id, role, created_at, school_id, user_id) FROM stdin;
3	principal	2026-05-29 16:32:13.131854+05:45	164	4
4	principal	2026-05-29 16:32:53.618881+05:45	271	5
5	principal	2026-05-29 16:32:54.126878+05:45	293	6
6	principal	2026-07-08 17:15:46.44737+05:45	178	7
7	principal	2026-07-20 22:04:46.763519+05:45	180	8
\.


--
-- Name: allocation_allocationresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.allocation_allocationresult_id_seq', 1050, true);


--
-- Name: allocation_budgetcycle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.allocation_budgetcycle_id_seq', 7, true);


--
-- Name: allocation_discretionarygrant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.allocation_discretionarygrant_id_seq', 5, true);


--
-- Name: allocation_fiscalyearbudget_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.allocation_fiscalyearbudget_id_seq', 2, true);


--
-- Name: audit_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_auditlog_id_seq', 336, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 84, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 8, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_apscheduler_djangojobexecution_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_apscheduler_djangojobexecution_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 21, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 43, true);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 59, true);


--
-- Name: schools_dataverificationrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_dataverificationrequest_id_seq', 5, true);


--
-- Name: schools_districtadmin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_districtadmin_id_seq', 1, false);


--
-- Name: schools_rankingappeal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_rankingappeal_id_seq', 2, true);


--
-- Name: schools_resourcerequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_resourcerequest_id_seq', 5, true);


--
-- Name: schools_reviewrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_reviewrequest_id_seq', 1, false);


--
-- Name: schools_school_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_school_id_seq', 300, true);


--
-- Name: schools_schooluser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schools_schooluser_id_seq', 7, true);


--
-- Name: allocation_allocationresult allocation_allocationres_budget_cycle_id_school_i_75234c8f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_allocationresult
    ADD CONSTRAINT allocation_allocationres_budget_cycle_id_school_i_75234c8f_uniq UNIQUE (budget_cycle_id, school_id);


--
-- Name: allocation_allocationresult allocation_allocationresult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_allocationresult
    ADD CONSTRAINT allocation_allocationresult_pkey PRIMARY KEY (id);


--
-- Name: allocation_budgetcycle allocation_budgetcycle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_budgetcycle
    ADD CONSTRAINT allocation_budgetcycle_pkey PRIMARY KEY (id);


--
-- Name: allocation_discretionarygrant allocation_discretionarygrant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_discretionarygrant
    ADD CONSTRAINT allocation_discretionarygrant_pkey PRIMARY KEY (id);


--
-- Name: allocation_discretionarygrant allocation_discretionarygrant_resource_request_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_discretionarygrant
    ADD CONSTRAINT allocation_discretionarygrant_resource_request_id_key UNIQUE (resource_request_id);


--
-- Name: allocation_fiscalyearbudget allocation_fiscalyearbudget_fiscal_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_fiscalyearbudget
    ADD CONSTRAINT allocation_fiscalyearbudget_fiscal_year_key UNIQUE (fiscal_year);


--
-- Name: allocation_fiscalyearbudget allocation_fiscalyearbudget_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_fiscalyearbudget
    ADD CONSTRAINT allocation_fiscalyearbudget_pkey PRIMARY KEY (id);


--
-- Name: audit_auditlog audit_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_auditlog
    ADD CONSTRAINT audit_auditlog_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_apscheduler_djangojob django_apscheduler_djangojob_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_apscheduler_djangojob
    ADD CONSTRAINT django_apscheduler_djangojob_pkey PRIMARY KEY (id);


--
-- Name: django_apscheduler_djangojobexecution django_apscheduler_djangojobexecution_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_apscheduler_djangojobexecution
    ADD CONSTRAINT django_apscheduler_djangojobexecution_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: schools_dataverificationrequest schools_dataverificationrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_dataverificationrequest
    ADD CONSTRAINT schools_dataverificationrequest_pkey PRIMARY KEY (id);


--
-- Name: schools_districtadmin schools_districtadmin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_districtadmin
    ADD CONSTRAINT schools_districtadmin_pkey PRIMARY KEY (id);


--
-- Name: schools_rankingappeal schools_rankingappeal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_rankingappeal
    ADD CONSTRAINT schools_rankingappeal_pkey PRIMARY KEY (id);


--
-- Name: schools_resourcerequest schools_resourcerequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_resourcerequest
    ADD CONSTRAINT schools_resourcerequest_pkey PRIMARY KEY (id);


--
-- Name: schools_reviewrequest schools_reviewrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_reviewrequest
    ADD CONSTRAINT schools_reviewrequest_pkey PRIMARY KEY (id);


--
-- Name: schools_school schools_school_emis_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_school
    ADD CONSTRAINT schools_school_emis_key UNIQUE (emis);


--
-- Name: schools_school schools_school_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_school
    ADD CONSTRAINT schools_school_pkey PRIMARY KEY (id);


--
-- Name: schools_schooluser schools_schooluser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_schooluser
    ADD CONSTRAINT schools_schooluser_pkey PRIMARY KEY (id);


--
-- Name: schools_schooluser schools_schooluser_school_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_schooluser
    ADD CONSTRAINT schools_schooluser_school_id_key UNIQUE (school_id);


--
-- Name: schools_schooluser schools_schooluser_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_schooluser
    ADD CONSTRAINT schools_schooluser_user_id_key UNIQUE (user_id);


--
-- Name: django_apscheduler_djangojobexecution unique_job_executions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_apscheduler_djangojobexecution
    ADD CONSTRAINT unique_job_executions UNIQUE (job_id, run_time);


--
-- Name: allocation_allocationresult_budget_cycle_id_95246f70; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_allocationresult_budget_cycle_id_95246f70 ON public.allocation_allocationresult USING btree (budget_cycle_id);


--
-- Name: allocation_allocationresult_disbursement_status_0e647c5f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_allocationresult_disbursement_status_0e647c5f ON public.allocation_allocationresult USING btree (disbursement_status);


--
-- Name: allocation_allocationresult_disbursement_status_0e647c5f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_allocationresult_disbursement_status_0e647c5f_like ON public.allocation_allocationresult USING btree (disbursement_status varchar_pattern_ops);


--
-- Name: allocation_allocationresult_school_id_1d6d3365; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_allocationresult_school_id_1d6d3365 ON public.allocation_allocationresult USING btree (school_id);


--
-- Name: allocation_budgetcycle_created_by_id_524b1186; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_budgetcycle_created_by_id_524b1186 ON public.allocation_budgetcycle USING btree (created_by_id);


--
-- Name: allocation_budgetcycle_fiscal_budget_id_6e438a38; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_budgetcycle_fiscal_budget_id_6e438a38 ON public.allocation_budgetcycle USING btree (fiscal_budget_id);


--
-- Name: allocation_discretionarygrant_fiscal_budget_id_1af2e330; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_discretionarygrant_fiscal_budget_id_1af2e330 ON public.allocation_discretionarygrant USING btree (fiscal_budget_id);


--
-- Name: allocation_discretionarygrant_granted_by_id_d886f458; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_discretionarygrant_granted_by_id_d886f458 ON public.allocation_discretionarygrant USING btree (granted_by_id);


--
-- Name: allocation_discretionarygrant_school_id_c5f33ff2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_discretionarygrant_school_id_c5f33ff2 ON public.allocation_discretionarygrant USING btree (school_id);


--
-- Name: allocation_fiscalyearbudget_fiscal_year_dc82beee_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX allocation_fiscalyearbudget_fiscal_year_dc82beee_like ON public.allocation_fiscalyearbudget USING btree (fiscal_year varchar_pattern_ops);


--
-- Name: audit_audit_action_2a1328_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_audit_action_2a1328_idx ON public.audit_auditlog USING btree (action, "timestamp");


--
-- Name: audit_audit_user_id_e8be02_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_audit_user_id_e8be02_idx ON public.audit_auditlog USING btree (user_id, "timestamp");


--
-- Name: audit_auditlog_action_dc562e21; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_auditlog_action_dc562e21 ON public.audit_auditlog USING btree (action);


--
-- Name: audit_auditlog_action_dc562e21_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_auditlog_action_dc562e21_like ON public.audit_auditlog USING btree (action varchar_pattern_ops);


--
-- Name: audit_auditlog_timestamp_3c0fe3f7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_auditlog_timestamp_3c0fe3f7 ON public.audit_auditlog USING btree ("timestamp");


--
-- Name: audit_auditlog_user_id_c1cca96c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX audit_auditlog_user_id_c1cca96c ON public.audit_auditlog USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_apscheduler_djangojob_next_run_time_2f022619; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_apscheduler_djangojob_next_run_time_2f022619 ON public.django_apscheduler_djangojob USING btree (next_run_time);


--
-- Name: django_apscheduler_djangojobexecution_job_id_daf5090a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_apscheduler_djangojobexecution_job_id_daf5090a ON public.django_apscheduler_djangojobexecution USING btree (job_id);


--
-- Name: django_apscheduler_djangojobexecution_run_time_16edd96b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_apscheduler_djangojobexecution_run_time_16edd96b ON public.django_apscheduler_djangojobexecution USING btree (run_time);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: notificatio_recipie_4e3567_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notificatio_recipie_4e3567_idx ON public.notifications_notification USING btree (recipient_id, is_read);


--
-- Name: notifications_notification_is_read_21b215ac; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_is_read_21b215ac ON public.notifications_notification USING btree (is_read);


--
-- Name: notifications_notification_recipient_id_d055f3f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_recipient_id_d055f3f0 ON public.notifications_notification USING btree (recipient_id);


--
-- Name: schools_dataverificationrequest_reviewed_by_id_6e636596; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_dataverificationrequest_reviewed_by_id_6e636596 ON public.schools_dataverificationrequest USING btree (reviewed_by_id);


--
-- Name: schools_dataverificationrequest_school_id_0d8754b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_dataverificationrequest_school_id_0d8754b2 ON public.schools_dataverificationrequest USING btree (school_id);


--
-- Name: schools_dataverificationrequest_status_fbb6950e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_dataverificationrequest_status_fbb6950e ON public.schools_dataverificationrequest USING btree (status);


--
-- Name: schools_dataverificationrequest_status_fbb6950e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_dataverificationrequest_status_fbb6950e_like ON public.schools_dataverificationrequest USING btree (status varchar_pattern_ops);


--
-- Name: schools_dataverificationrequest_submitted_by_id_4c994753; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_dataverificationrequest_submitted_by_id_4c994753 ON public.schools_dataverificationrequest USING btree (submitted_by_id);


--
-- Name: schools_districtadmin_user_id_5d782a5e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_districtadmin_user_id_5d782a5e ON public.schools_districtadmin USING btree (user_id);


--
-- Name: schools_rankingappeal_reviewed_by_id_1b9be7cb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_rankingappeal_reviewed_by_id_1b9be7cb ON public.schools_rankingappeal USING btree (reviewed_by_id);


--
-- Name: schools_rankingappeal_school_id_917f48dd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_rankingappeal_school_id_917f48dd ON public.schools_rankingappeal USING btree (school_id);


--
-- Name: schools_rankingappeal_status_56d09fcd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_rankingappeal_status_56d09fcd ON public.schools_rankingappeal USING btree (status);


--
-- Name: schools_rankingappeal_status_56d09fcd_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_rankingappeal_status_56d09fcd_like ON public.schools_rankingappeal USING btree (status varchar_pattern_ops);


--
-- Name: schools_rankingappeal_submitted_by_id_d31719b3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_rankingappeal_submitted_by_id_d31719b3 ON public.schools_rankingappeal USING btree (submitted_by_id);


--
-- Name: schools_resourcerequest_reviewed_by_id_90b79dab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_resourcerequest_reviewed_by_id_90b79dab ON public.schools_resourcerequest USING btree (reviewed_by_id);


--
-- Name: schools_resourcerequest_school_id_9b81c4e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_resourcerequest_school_id_9b81c4e0 ON public.schools_resourcerequest USING btree (school_id);


--
-- Name: schools_resourcerequest_status_31a59ab5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_resourcerequest_status_31a59ab5 ON public.schools_resourcerequest USING btree (status);


--
-- Name: schools_resourcerequest_status_31a59ab5_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_resourcerequest_status_31a59ab5_like ON public.schools_resourcerequest USING btree (status varchar_pattern_ops);


--
-- Name: schools_resourcerequest_submitted_by_id_f160e43c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_resourcerequest_submitted_by_id_f160e43c ON public.schools_resourcerequest USING btree (submitted_by_id);


--
-- Name: schools_reviewrequest_school_id_b2f66be1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_reviewrequest_school_id_b2f66be1 ON public.schools_reviewrequest USING btree (school_id);


--
-- Name: schools_sch_distric_f6f780_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_sch_distric_f6f780_idx ON public.schools_school USING btree (district, is_rural);


--
-- Name: schools_sch_priorit_10b27f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_sch_priorit_10b27f_idx ON public.schools_school USING btree (priority_rank);


--
-- Name: schools_sch_priorit_98712c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_sch_priorit_98712c_idx ON public.schools_school USING btree (priority_score);


--
-- Name: schools_sch_provinc_04fc92_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_sch_provinc_04fc92_idx ON public.schools_school USING btree (province, district);


--
-- Name: schools_sch_provinc_ad82f1_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_sch_provinc_ad82f1_idx ON public.schools_school USING btree (province, priority_rank);


--
-- Name: schools_school_district_03c67219; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_district_03c67219 ON public.schools_school USING btree (district);


--
-- Name: schools_school_district_03c67219_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_district_03c67219_like ON public.schools_school USING btree (district varchar_pattern_ops);


--
-- Name: schools_school_emis_45361493_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_emis_45361493_like ON public.schools_school USING btree (emis varchar_pattern_ops);


--
-- Name: schools_school_name_83094325; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_name_83094325 ON public.schools_school USING btree (name);


--
-- Name: schools_school_name_83094325_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_name_83094325_like ON public.schools_school USING btree (name varchar_pattern_ops);


--
-- Name: schools_school_province_0acc11ce; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_province_0acc11ce ON public.schools_school USING btree (province);


--
-- Name: schools_school_province_0acc11ce_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX schools_school_province_0acc11ce_like ON public.schools_school USING btree (province varchar_pattern_ops);


--
-- Name: allocation_allocationresult allocation_allocatio_budget_cycle_id_95246f70_fk_allocatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_allocationresult
    ADD CONSTRAINT allocation_allocatio_budget_cycle_id_95246f70_fk_allocatio FOREIGN KEY (budget_cycle_id) REFERENCES public.allocation_budgetcycle(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_allocationresult allocation_allocatio_school_id_1d6d3365_fk_schools_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_allocationresult
    ADD CONSTRAINT allocation_allocatio_school_id_1d6d3365_fk_schools_s FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_budgetcycle allocation_budgetcyc_fiscal_budget_id_6e438a38_fk_allocatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_budgetcycle
    ADD CONSTRAINT allocation_budgetcyc_fiscal_budget_id_6e438a38_fk_allocatio FOREIGN KEY (fiscal_budget_id) REFERENCES public.allocation_fiscalyearbudget(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_budgetcycle allocation_budgetcycle_created_by_id_524b1186_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_budgetcycle
    ADD CONSTRAINT allocation_budgetcycle_created_by_id_524b1186_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_discretionarygrant allocation_discretio_fiscal_budget_id_1af2e330_fk_allocatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_discretionarygrant
    ADD CONSTRAINT allocation_discretio_fiscal_budget_id_1af2e330_fk_allocatio FOREIGN KEY (fiscal_budget_id) REFERENCES public.allocation_fiscalyearbudget(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_discretionarygrant allocation_discretio_granted_by_id_d886f458_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_discretionarygrant
    ADD CONSTRAINT allocation_discretio_granted_by_id_d886f458_fk_auth_user FOREIGN KEY (granted_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_discretionarygrant allocation_discretio_resource_request_id_4ff39634_fk_schools_r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_discretionarygrant
    ADD CONSTRAINT allocation_discretio_resource_request_id_4ff39634_fk_schools_r FOREIGN KEY (resource_request_id) REFERENCES public.schools_resourcerequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: allocation_discretionarygrant allocation_discretio_school_id_c5f33ff2_fk_schools_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.allocation_discretionarygrant
    ADD CONSTRAINT allocation_discretio_school_id_c5f33ff2_fk_schools_s FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: audit_auditlog audit_auditlog_user_id_c1cca96c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_auditlog
    ADD CONSTRAINT audit_auditlog_user_id_c1cca96c_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_apscheduler_djangojobexecution django_apscheduler_djangojobexecution_job_id_daf5090a_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_apscheduler_djangojobexecution
    ADD CONSTRAINT django_apscheduler_djangojobexecution_job_id_daf5090a_fk FOREIGN KEY (job_id) REFERENCES public.django_apscheduler_djangojob(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notifi_recipient_id_d055f3f0_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notifi_recipient_id_d055f3f0_fk_auth_user FOREIGN KEY (recipient_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_dataverificationrequest schools_dataverifica_reviewed_by_id_6e636596_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_dataverificationrequest
    ADD CONSTRAINT schools_dataverifica_reviewed_by_id_6e636596_fk_auth_user FOREIGN KEY (reviewed_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_dataverificationrequest schools_dataverifica_school_id_0d8754b2_fk_schools_s; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_dataverificationrequest
    ADD CONSTRAINT schools_dataverifica_school_id_0d8754b2_fk_schools_s FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_dataverificationrequest schools_dataverifica_submitted_by_id_4c994753_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_dataverificationrequest
    ADD CONSTRAINT schools_dataverifica_submitted_by_id_4c994753_fk_auth_user FOREIGN KEY (submitted_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_districtadmin schools_districtadmin_user_id_5d782a5e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_districtadmin
    ADD CONSTRAINT schools_districtadmin_user_id_5d782a5e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_rankingappeal schools_rankingappeal_reviewed_by_id_1b9be7cb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_rankingappeal
    ADD CONSTRAINT schools_rankingappeal_reviewed_by_id_1b9be7cb_fk_auth_user_id FOREIGN KEY (reviewed_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_rankingappeal schools_rankingappeal_school_id_917f48dd_fk_schools_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_rankingappeal
    ADD CONSTRAINT schools_rankingappeal_school_id_917f48dd_fk_schools_school_id FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_rankingappeal schools_rankingappeal_submitted_by_id_d31719b3_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_rankingappeal
    ADD CONSTRAINT schools_rankingappeal_submitted_by_id_d31719b3_fk_auth_user_id FOREIGN KEY (submitted_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_resourcerequest schools_resourcerequ_submitted_by_id_f160e43c_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_resourcerequest
    ADD CONSTRAINT schools_resourcerequ_submitted_by_id_f160e43c_fk_auth_user FOREIGN KEY (submitted_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_resourcerequest schools_resourcerequest_reviewed_by_id_90b79dab_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_resourcerequest
    ADD CONSTRAINT schools_resourcerequest_reviewed_by_id_90b79dab_fk_auth_user_id FOREIGN KEY (reviewed_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_resourcerequest schools_resourcerequest_school_id_9b81c4e0_fk_schools_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_resourcerequest
    ADD CONSTRAINT schools_resourcerequest_school_id_9b81c4e0_fk_schools_school_id FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_reviewrequest schools_reviewrequest_school_id_b2f66be1_fk_schools_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_reviewrequest
    ADD CONSTRAINT schools_reviewrequest_school_id_b2f66be1_fk_schools_school_id FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_schooluser schools_schooluser_school_id_a190fc89_fk_schools_school_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_schooluser
    ADD CONSTRAINT schools_schooluser_school_id_a190fc89_fk_schools_school_id FOREIGN KEY (school_id) REFERENCES public.schools_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: schools_schooluser schools_schooluser_user_id_4748ac38_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schools_schooluser
    ADD CONSTRAINT schools_schooluser_user_id_4748ac38_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict zPgg4VrKmqUtt0NSdVm44aP7Awn2lGHnMCc1AFNvut6aMhgzGAEW7GJJMM96OKS

